<template name="contacts">
	<div class="container">
		<div class="row">
			<div class = "col-xs-12">
				<h1>{{ title }}</h1>
			</div>
			<div class = "col-xs-12 text-right">
				<button type="button" class="btn btn-primary btt">Button</button>
			</div>
		</div>
		<div class="row">
			<div class = "col-md-12">
				<div class="container-fluid" id="conform">
					<!-- <new-contact></new-contact>-->
				</div>
			</div>
		</div>	
		<div class="row">
			<div class = "col-md-12">
				<!--<contact-list>  </contact-list>-->
			</div>
		</div>
	</div>
</template>